.book-grid,
.inverted-book-grid {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .book-grid {
    display: grid;
    gap: var(--gap);
  }

  .inverted-book-grid {
    display: grid;
    gap: var(--gap);
  }
}

.book-header {
  @apply mb-4;

  .book-labels {
    @apply relative bottom-1.5;

    b {
      @apply text-white uppercase opacity-90 p-0.5 rounded-md inline-flex;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }
  }

  .book-title {
    @apply text-3xl;
    font-weight: inherit;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    line-height: 1.1;
  }
}

.book-box {
  @apply bg-ob-deep-800 p-4 lg:p-14 rounded-2xl shadow-xl mb-8 lg:mb-0;
}

.book-field {
  .book-image-container {
    @apply col-span-3 relative;

    img {
      width: 90%;
    }
  }

  .book-information-container {
    @apply col-span-9 relative w-full;

    .book-detail-container {
      @apply col-span-1 relative;

      .book-link {
        @apply inline-flex gap-4 mt-4 mb-2 text-ob-bright;

        .book-link-border {
          @apply border-2 rounded-2xl border-b-4 w-28 text-center;
        }
      }

      p {
        @apply pt-1.5 text-ob-bright w-3/5;
      }

      .book-isbn {
        @apply text-ob-bright pt-1.5;

        p {
          color: var(--text-book);

          span {
            @apply text-ob-bright;
          }
        }
      }

      .book-author {
        @apply text-ob-bright pt-1.5;

        p {
          color: var(--text-book);

          span {
            @apply text-ob-bright;
          }
        }
      }

      .book-publish-year {
        @apply text-ob-bright pt-1.5;

        p {
          color: var(--text-book);

          span {
            @apply text-ob-bright;
          }
        }
      }

      .book-publisher {
        @apply text-ob-bright pt-1.5;

        p {
          color: var(--text-book);

          span {
            @apply text-ob-bright;
          }
        }
      }

      .book-rate {
        @apply text-ob-bright pt-1.5;
      }
    }

    .book-description-container {
      @apply col-span-1 relative h-96;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      overflow-y: scroll;
      -webkit-box-orient: vertical;

      h3, h4 {
        @apply text-ob-bright;

        color: var(--text-book);
      }

      p {
        @apply text-ob-bright;
      }
    }
  }
}
