.notFound-box {
  @apply bg-ob-deep-800 p-4 lg:p-14 rounded-2xl shadow-xl mb-8 lg:mb-0;

  .notFound-heading {
    @apply text-ob-bright text-center;
    font-size: 12em;
    line-height: 1.3em;
    margin: 4rem 0 0.5rem 0;
    padding: 0;
  }

  .botFound-title {
    @apply text-ob-bright text-center text-6xl;
    margin: 2rem 0 8rem 0;
  }
}
